//Hago el reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//Importo las variables
@import "./variables/colores";
@import "./variables/fuentes";

//Importo las utilidades
@import "./utilidades/cuerpo";
@import "./utilidades/mapa";
@import "./utilidades/header";
@import "./utilidades/footer";
@import "./utilidades/mixin";

//Importo las secciones
@import "./secciones/index";
@import "./secciones/sucursales";
@import "./secciones/cafe";
@import "./secciones/menu";
@import "./secciones/contacto";


//Importo las media querys
@import "./secciones/celulares"
