
.texto {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}
