.title2 {
  grid-area: title;
  @include flex-center;
}

.left1 {
  grid-area: left1;
}

.left1 h3, .left1 p {
  text-align: center;
}

.left2 {
  @include flex-center;
  grid-area: left2;
}

.right1 {
  grid-area: right1;
  @include flex-center;
}

.right2 {
  grid-area: right2;
  text-align: center;
}
